cfgv==3.5.0
dill==0.4.0
distlib==0.4.0
filelock==3.20.1
flake8==7.3.0
h5py==3.15.1
identify==2.6.15
iniconfig==2.3.0
mccabe==0.7.0
nodeenv==1.10.0
numpy==2.4.0
packaging==25.0
platformdirs==4.5.1
pluggy==1.6.0
pre_commit==4.5.1
psutil==7.2.1
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.19.2
pyscf==2.11.0
pytest==9.0.2
PyYAML==6.0.3
qiskit==2.2.3
qiskit-algorithms==0.4.0
qiskit-nature==0.7.2
rustworkx==0.17.1
scipy==1.16.3
setuptools==80.9.0
stevedore==5.6.0
typing_extensions==4.15.0
virtualenv==20.35.4
-e git+https://github.com/ConnorSeck/VQE_molecular_energy.git@9ea1d48cbb7f61d8634ba72ea830cee769dd51c0#egg=vqe_molecular_energy
wheel==0.45.1
